@font-face{
    font-family:"mainfont";
        src:local('Rubik');
            url("/css/nanumsquare.ttf");
            transform: rotate(-0.005deg);
}

body{
    font-family: "mainfont";  
}

p,h1,h2,h3,h4,h5,h6,span, strong{
    font-family: 'mainfont','nanumsquare','serif';
    font-size:15px;
    text-align: center;
}


.backgroud {
    background-image: url('/img/back_img1.jpg')
}

.background {
    color: pink;
    background-image: url('/img/back_img1.jpg');
    background-position: bottom;
    background-size:cover; 
    height: 500px;
    padding-top:100px;
}

.container {
    color: white;
}

@media screen and (max-width:768px){
    .background{
        height:400px;
    }
   
}`
.row {
   
}

.col-md-4 {
    
}

.smallimg img{
    width:300px;
    display:block;
    margin:auto;
    margin-bottom: 50px;
    margin-top:20px;
}

.smallimg p{
   text-align: center;
    color:black;
}

au.smallimg {
    display: block;
    margin:auto;    
}

.section2 {
    color:black;
    
}

.extra-padding {
    color:black;
}

.container2 {
    background color: beige;
    padding-bottom: 5px;
    
}

.black-box {
 background-color: black;
    color:white;
    width:100%;
    height:100%;
    position:absolute;
    opacity: 0;
}

.black-box:hover{
    opacity:0.4;
    transition:0.5s ease;
}

.black-box-text {
    color:white;
    position:relative;
    font-size:20px;
    top:40px;
    
}
